@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.pinimg.com/originals/10/2f/aa/102faa90134c376c79688412fe154d46.gif'); /* Cor de fundo neutra */
}

.container {
    position: relative; /* Para que os elementos filhos possam ser posicionados relativamente */
    text-align: center;
}

.imagem {
        max-width: 50%; /* Definindo a largura máxima da imagem como 80% do contêiner */
        display: block; /* Removendo espaço extra abaixo da imagem */
        margin: 0 auto; /* Centralizando horizontalmente */
}

.fonte {
    position: absolute; /* Posicionando o texto absolutamente em relação ao contêiner pai */
    bottom: 20px; /* Ajustando a distância do texto do fundo */
    left: 50%; /* Centralizando o texto horizontalmente */
    transform: translateX(-50%); /* Centralizando o texto horizontalmente */
    font-family: 'Bungee Spice', sans-serif; 
    font-size: 90px; 
    color: white; /* Cor do texto */
}

a {
    text-decoration: none;
}
